@font-face {
  font-family: 'RT Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('RT Raleway Light'), local('RT-Raleway-Light'),
    url(fonts/rtraleway-light-webfont.woff2) format('woff2');
}
@font-face {
  font-family: 'RT Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('RT Raleway'), local('RT-Raleway-Regular'),
    url(fonts/rtraleway-regular-webfont.woff2) format('woff2');
}
@font-face {
  font-family: 'RT Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('RT Raleway Medium'), local('RT-Raleway-Medium'),
    url(fonts/rtraleway-medium-webfont.woff2) format('woff2');
}
@font-face {
  font-family: 'RT Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('RT Raleway SemiBold'), local('RT-Raleway-SemiBold'),
    url(fonts/rtraleway-semibold-webfont.woff2) format('woff2');
}
@font-face {
  font-family: 'RT Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('RT Raleway Bold'), local('RT-Raleway-Bold'),
    url(fonts/rtraleway-bold-webfont.woff2) format('woff2');
}

html,
body,
#root {
  height: 100%;
  height: 100vh;
}
